wksp
.DS_Store
target/
*.class
.idea/
.quinoa/
.claude
package-lock.json
.idea
proj
.mvn/maven.config
app/src/main/webui/.pnp.cjs
app/src/main/webui/.pnp.loader.mjs
app/src/main/webui/.yarn/
.playwright-mcp/
.mvn/slot-settings.xml
